In [1]:
#Task 1

In [2]:
total = 100
print("The total is",total)

The total is 100

In [3]:
#Task 2

In [4]:
total = total + 99
print("The total is now", total)

The total is now 199

In [5]:
#Task 3

In [6]:
total = total - 1
print("The total is", total)

The total is 198

In [7]:
#Task 4

In [9]:
total = 98.2
count = 5
average = total / count
print(average)

19.64

In [10]:
#Task 5

In [19]:
type(False)

bool

In [14]:
type(1000)

int

In [15]:
type(100.111)

float

In [16]:
type("Hello")

str

In [17]:
type(True)

bool

In [18]:
type(100/5)

float

In [20]:
type(100//5)

int

In [21]:
#Task 6

In [23]:
"ABC " * 10

'ABC ABC ABC ABC ABC ABC ABC ABC ABC ABC '

In [24]:
#Task 7

In [27]:
name="md naushad rain"
address="Kathamundu"
contact="9819931015"
print("The length of my name is :",len(name))

The length of my name is : 14

In [28]:
#Task 8

In [29]:
age = input("Enter your age :")

Enter your age :20

In [30]:
#Task 9

In [31]:
num1 = int(input("Enter a first number:"))
num2 = int(input("Enter a second number:"))
a = num1 * num2
print("The product of 2 number is:",a)

Enter a first number:24
Enter a second number:67
The product of 2 number is: 1608

In [32]:
#Task 10

In [33]:
comment = "I would have 'thought' you knew better!"
print(comment)

I would have 'thought' you knew better!

In [38]:
#Task 11

In [39]:
print("This text includes characters such as '\' '"' and "'"," "\n\tThis is a new line that starts with a tab ""\n\t This new line starts with two tabs")

This text includes characters such as '' ' and ",
	This is a new line that starts with a tab
	 This new line starts with two tabs

In [44]:
#Task 12

In [52]:
print("\\""\\""\\""\\""\\""\\""\\""\\""\\""\\""\\""\\""\\""\\""\\""\\""\\""\\""\\""\\""\\"
      '\n Hello there! \n'
      "\\""\\""\\""\\""\\""\\""\\""\\""\\""\\""\\""\\""\\""\\""\\""\\""\\""\\""\\""\\""\\")

\\\\\\\\\\\\\\\\\\\\\
 Hello there!
\\\\\\\\\\\\\\\\\\\\\

In [55]:
#Task 13

In [54]:
print("This text spans three lines,")
print("and includes both single ('),")
print('and double quotes (")')

This text spans three lines,
and includes both single ('),
and double quotes (")

In [56]:
#Task 14

In [59]:
surname = "Palin"
surname[2]

'l'

In [60]:
#Task 15

In [65]:
surname = "Palin"
surname[10]

IndexError: string index out of range

In [66]:
#Task 16

In [68]:
surname = "Palin"
surname[-4]

'a'

In [69]:
#Task 17

In [70]:
surname = "Palin"
surname[1:]

'alin'

In [71]:
#Task 18

In [73]:
surname = "Palin"
surname[:4]

'Pali'

In [74]:
#Task 19

In [75]:
primes = [2, 3, 5, 7, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
primes[0:5]

[2, 3, 5, 7, 13]

In [76]:
#Task 20

In [78]:
names = ["Terry", "John", "Michael", "Eric", "Terry", "Graham"]
names[0:0] =["Hem","Saiman"]
print(names)

['Hem', 'Saiman', 'Terry', 'John', 'Michael', 'Eric', 'Terry', 'Graham']

In [79]:
#Task 21

In [81]:
nums = [1,2,3] * 5
print(nums)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [82]:
#Task 22

In [83]:
# Assignment :The assignment operator, denoted by the “=” symbol, is the operator that is used to assign values to variables in Python. 
# Data-type :Data types are the classification or categorization of knowledge items. 
# Argument : An argument is the value that are sent to the function when it is called.
# Indexing : is a way to refer the individual items within an iterable by its position.
# Slicing :Slicing operations are similar to indexing type operations but are more powerful, and able to access multiple characters rather than single characters only.
# Mutable : A mutable value can be changed after it has been created. 
# Immutable : An immutable value can never be changed once it has been created.